<%= form_with(model: [:dashboard, employee], class: "contents", data: {controller: "dashboard--employees--edit"}) do |form| %>
  <% if employee.errors.any? or employee.user&.errors&.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(employee.errors.count + employee.user&.errors.count, "error") %>
        prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <% employee.user&.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :user, employee.user do |authenticateable_fields| %>
    <div class="my-5">
      <%= authenticateable_fields.label :email_address %>
      <%= authenticateable_fields.text_field :email_address,
                                         class:
                                           "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= authenticateable_fields.label :password %>
      <%= authenticateable_fields.password_field :password,
                                             class:
                                               "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <div class="p-4 sm:p-6 lg:p-8 bg-gray-100 mb-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold text-gray-900">Companies</h1>
        <p class="mt-2 text-sm text-gray-700">Specify the roles this employee has per company.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <div
          data-controller="dropdown"
          data-action="
            click@window->dropdown#hide
            touchstart@window->dropdown#hide
            keydown.up->dropdown#previousItem
            keydown.down->dropdown#nextItem
            keydown.esc->dropdown#hide
          "
          class="relative inline-block text-left"
        >
          <div>
            <button
              data-action="dropdown#toggle:stop"
              type="button"
              class="
                inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2
                text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
                hover:bg-gray-50
              "
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              Connect To Company
              <svg
                class="-mr-1 size-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Dropdown menu, show/hide based on menu state. Entering:
          "transition ease-out duration-100" From: "transform opacity-0
          scale-95" To: "transform opacity-100 scale-100" Leaving: "transition
          ease-in duration-75" From: "transform opacity-100 scale-100" To:
          "transform opacity-0 scale-95" -->
          <div
            data-dropdown-target="menu"
            class="
              hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white
              shadow-lg ring-1 ring-black/5 focus:outline-none
            "
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <% employee.not_associated_companies.each do |company| %>
                <a
                  data-dropdown-target="menuItem"
                  data-action="dashboard--employees--edit#addRole"
                  data-dashboard--employees--edit-company-id-param="<%= company.id %>"
                  data-dashboard--employees--edit-company-name-param="<%= company.name %>"
                  data-dashboard--employees--edit-role-options-param='<%= options_for_select(
                                             CompanyEmployee.roles.map do |k, v|
                                               [k.humanize.capitalize, k]
                                             end,
        ) %>'
                  class="
                    block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100
                    hover:text-gray-900 hover:outline-none
                  "
                  role="menuitem"
                  tabindex="-1"
                ><%= company.name %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="
                      py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6
                    "
                  >Company</th>
                  <th
                    scope="col"
                    class="
                      px-3 py-3.5 text-left text-sm font-semibold text-gray-900
                    "
                  >Role</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Remove</span>
                  </th>
                </tr>
              </thead>
              <tbody
                data-dashboard--employees--edit-target="roles"
                class="divide-y divide-gray-200 bg-white"
              >
                <%= form.fields_for(:company_employees, include_id: false)  do |company_employee_form, idx| %>
                  <% association = company_employee_form.object %>
                  <tr>
                    <%= company_employee_form.hidden_field :id %>
                    <%= company_employee_form.hidden_field :company_id %>
                    <%= company_employee_form.hidden_field :_destroy, class: "destroy" %>
                    <td
                      class="
                        whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6
                      "
                    ><%= association.company.name %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                      <%= company_employee_form.select :role,
                                                   options_for_select(
                                                     CompanyEmployee.roles.map do |k, v|
                                                       [k.humanize.capitalize, k]
                                                     end,
                                                     association.role,
                                                   ),
                                                   include_blank: "Select Role",
                                                   class:
                                                     "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
                    </td>
                    <td
                      class="
                        relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6
                      "
                    ><a
                        class="btn-secondary danger"
                        data-action="dashboard--employees--edit#removeRole"
                      >Remove</a></td>
                  </tr>
                <% end %>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class:
                  "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
