<tr id="<%= dom_id service_area %>">
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  ><%= link_to service_area.name, [:dashboard, service_area] %></td>
  <td
    class="
      hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell
    "
  ><%= service_area.status.titleize %></td>
  <td
    class="
      hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell
    "
  ><%= service_area.created_at %></td>
  <td
    class="
      whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0
    "
  >
    <%= link_to edit_dashboard_service_area_path(service_area), class: "text-indigo-600 hover:text-indigo-900" do %>
      Edit<span class="sr-only">,
        <%= service_area.name %></span>
    <% end %>
  </td>
</tr>
