<div id="<%= dom_id ride %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= ride.customer_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= ride.company_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= ride.driver_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Queried at:</strong>
    <%= ride.created_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Requested at:</strong>
    <%= ride.requested_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Canceled at:</strong>
    <%= ride.canceled_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Picked up at:</strong>
    <%= ride.picked_up_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Completed at:</strong>
    <%= ride.completed_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Origin address:</strong>
    <%= ride.origin_address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Origin coordinate:</strong>
    <%= ride.origin_coordinate %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Destination address:</strong>
    <%= ride.destination_address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Destination coordinate:</strong>
    <%= ride.destination_coordinate %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Estimates:</strong>
    <%= ride.estimates %>
  </p>
</div>
