<% content_for :title, "Showing ride" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing ride</h1>

  <%= render @ride %>

  <%= link_to "Edit this ride",
  edit_company_ride_path(@company, @ride),
  class:
    "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to rides",
  company_rides_path(@company),
  class:
    "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this ride",
    [@company, @ride],
    method: :delete,
    class:
      "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>
</div>
